profiles {
    standard {
        executor {
            name = 'local'
        }
         process{
            withLabel : 'intenso' {
                cpus = 8
                memory = '9G'
            }
            withLabel : 'expresso' {
                cpus = 6
                memory = '2G'
            }
            withLabel : 'ristretto' {
                cpus = 1
                memory = '2G'
            }
        }
    }
    test {
        executor {
            name = 'local'
        }
         process{
            cpus = 1
            memory = '1G'
        }
    }
    shh {
        executor {
            name = 'slurm'
            queueSize = 10
        }
        process{
            withLabel : 'intenso' {
                queue = 'short'
                cpus = 8
                memory = '9G'
                time = '30m'
            }
            withLabel : 'expresso' {
                queue = 'short'
                cpus = 6
                memory = '2G'
                time = '20m'
            }
            withLabel : 'ristretto' {
                queue = 'short'
                cpus = 1
                memory = '2G'
                time = '15m'
            }
        }
    }
}