process.container = "maxibor/kraken_nf:latest"

params {
    reads = ''
    krakendb = '/path/to/minikraken2_v2_8GB_201904_UPDATE.tgz'
    kraken_mem = '9G'
    phred = 33
    results = './results'
    collapse = false
    minhit = 50
    pairedEnd = true
    help = false
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        process {
            conda = "$baseDir/envs/environment.yml"
        }
    }
    standard {
        executor {
            name = 'local'
        }
         process{
            withLabel : 'intenso' {
                cpus = 8
                memory = params.kraken_mem
            }
            withLabel : 'expresso' {
                cpus = 6
                memory = '2G'
            }
            withLabel : 'ristretto' {
                cpus = 1
                memory = '2G'
            }
        }
    }
    test {
        params {
            reads = "$baseDir/test/reads/*.{1,2}.fastq.gz"
            krakendb = "$baseDir/test/kraken/simple"
            phred = 64
            minhit = 2
        }
        executor {
            name = 'local'
        }
         process{
            cpus = 1
            memory = '1G'
        }
    }
    eva {
        executor {
            name = 'sge'
            queueSize = 8
            penv = 'smp'
        }
        process{
            withLabel : 'intenso' {
                queue = 'all.q'
                cpus = 8
                memory = params.kraken_mem
            }
            withLabel : 'expresso' {
                queue = 'all.q'
                cpus = 6
                memory = '4G'
            }
            withLabel : 'ristretto' {
                queue = 'all.q'
                cpus = 1
                memory = '4G'
            }
        }
    }
}