profiles {
    shh {
        executor {
            name = 'slurm'
            queueSize = 10
        }
        process{
            withLabel : 'intenso' {
                queue = 'short'
                cpus = 8
                memory = '9G'
            }
            withLabel : 'expresso' {
                queue = 'short'
                cpus = 6
                memory = '2G'
            }
            withLabel : 'ristretto' {
                queue = 'short'
                cpus = 1
                memory = '2G'
            }
        }
    }
}